* {
    border: 0;
    padding: 0;
}
/* Todo lo que se encuentra dentro del header */
header {
    background:linear-gradient(90deg, #08081d, #17202a) ;
} 
/* Termina header */

/*  Comienza el body */
/* agregue un mixin de tamaño */
body {
    font-family: var(--fontPrincipal);
    @include size(1rem);
    line-height: 2;
    background-color: var(--primarioClaro);
}
/* Termina body */

h1 { 
    text-align: center;
    color: var(--secundario);
    font-weight: 700;
    padding: 40px 20px 42px 10px;
    border: 20px;
    margin: 0px;
}
.rotacionTitulo:hover{
    transform: rotateY(360deg);
    transition: all 2s;
}

h2 {
    color:var(--secundario);
}

h3 {
    text-align: center;
   color: var(--secundarioOscuro);
}

p {
    color: var(--primario);
}