/* Navegacion */

.botonBuscar {
    background:linear-gradient(90deg, #08081d, #17202a) ;
}
.botonBuscar:hover {
    transition: all 2s;
    transform: scale(1.2, 1.2);
}

a:hover {
    color: rgb(29, 51, 248) !important;
    transition: all 1s !important;
}


.photoGrid {
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap:wrap;
}
/* Comienza el footer */

.navegacionInferior {
    display: flex;
    justify-content: end;
    
}
.navegacionInferior li {
    padding: 0.8rem;
    margin: 0;
    width:100%
}
.navegacionInferior a {
    color: rgb(240, 240, 247); 
    text-decoration: none;
    
    @media (max-width:480px){
        @include size(0.6rem);
        
    }
    @include telefono {
        @include size(0.7rem);
   
       }
       @include tablet {
        @include size(0.8rem);
        
        
   
       }
    }
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(235, 226, 226);
    background:linear-gradient(90deg, #08081d, #17202a) ;
    list-style: none;

}