/* Contacto Formulario */
/* agregue un mixin de tamaño de fuente */
.contacto {
    @media (min-width: 320px) {
        color: #4f4f4f;   
        display: flex;
        flex-direction: column; 
        margin: 0;
        @include telefono {
            max-width: 600px;
            margin: auto;
            padding: 2em;
        }
        @include desktop {
            max-width: 900px;
        }
    }     
}
/* agregue un mixin de tamaño tamaño de fuente */
legend {
    @include size(1rem);
    color: #4f4f4f;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input,
textarea,
select {
    padding: 1.5rem;
    display: flex;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 100px;
}
.terminos {
    text-align: center;
    @include nuevoMixin(capitalize, 1em);
}
.boton-formulario {
    color: #ffffff;
    background:linear-gradient(90deg, #08081d, #17202a) ;
    font-weight: 700;
    text-decoration: none;
    @include size(1rem);
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;  
    cursor: pointer;                     
}
.boton-formulario:hover {   
    border-radius: 10rem;
}