:root {
    --primario:  #17202a;
    --primarioClaro: #9F9FB5;
    --secundario: #3D3D69;
    --secundarioOscuro:#1F1F36  ;
    --fontPrincipal: 'Lato', sans-serif;
}


/* Media queries */

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;